
        {{!-- <main id="app"></main>  --}}
<div class="container">
    <section class="userCard">
        <div> New User</div>
        <form action='/addUser' method="POST">
            <label> Name</label>
            <input name="name" type="text" placeholder="Name" required> <br>
            <label> Image</label>
            <input name="image" type="url" placeholder="Avatar"> <br>
            <button style= "submitButton" type="submit"> Add </button>
        </form>
    </section>
    <a href="projectboards" class="button" id="clickable">Get Started</a>
</div>