
        {{!-- <main id="app"></main>  --}}
<div class="userpage_main" >
    <div class="userPage_container">
        <div class="title"> Team Node </div>  
        <section class="userCard">
            <div> New User</div>
            <form action='/addUser' method="POST">
                <label> Name: </label>
                <input name="name" type="text" placeholder="Name" required> <br>
                <label> Select Avatar: </label>
                <select name="image" >
                    <option value="/image/avatar1.jpeg" >Avatar1</option>
                    <option value="/image/avatar2.jpeg" >Avatar2</option>
                    <option value="/image/female1.jpeg" >Female1</option>
                    <option value="/image/female2.jpg" >Female2</option>
                    <option value="/image/female3.jpg" >Female3</option>
                    <option value="/image/ghost1.png" >Ghost</option>
                    <option value="/image/male1.jpg" >Male1</option>
                    <option value="/image/male2.jpg" >Male2</option>
                    <option value="/image/male3.jpeg" >Male3</option>
                    <option value="/image/superman1.jpeg" >Superman</option>
                    <option value="/image/surprise.png" >Surprise Me!</option>
                </select>
                <button style= "submitButton" type="submit"> Add </button>
            </form>
        </section>
        <a href="projectboards" class="userPage_button" id="clickable">Get Started</a>
    </div>
</div>


