
        {{!-- <main id="app"></main>  --}}
<div class="userpage_main">  
    <div class="title"> The Smart Kanban Board</div> 
    <div class="userPage_container">
        <section class="userCard">
            <div> New User</div>
            <form action='/addUser' method="POST">
                <label> Name: </label>
                <input name="name" type="text" placeholder="Name" required> <br>
                <label> Select Avatar: </label>
                <select name="image" onselect="showPreviewOne(event);">
                    <option value="/image/avatar1.jpeg" selected onselect="showPreviewOne(event);">Avatar1</option>
                    <option value="/image/avatar2.jpeg" onclick="showPreviewOne(event);">Avatar2</option>
                    <option value="/image/femail1.jpeg" onchange="showPreviewOne(event);">Female1</option>
                    <option value="/image/female2.jpg" onchange="showPreviewOne(event);">Female2</option>
                    <option value="/image/female3.jpg" onchange="showPreviewOne(event);">Female3</option>
                    <option value="/image/ghost1.png" onchange="showPreviewOne(event);">Ghost</option>
                    <option value="/image/male1.jpg" onchange="showPreviewOne(event);">Male1</option>
                    <option value="/image/male2.jpg" onchange="showPreviewOne(event);">Male2</option>
                    <option value="/image/male3.jpeg" onchange="showPreviewOne(event);">Male3</option>
                    <option value="/image/superman1.jpeg" onchange="showPreviewOne(event);">Superman</option>
                    <option value="/image/surprise.png" onchange="showPreviewOne(event);">Surprise Me!</option>
                </select>
                <button style= "submitButton" type="submit"> Add </button>
                <div class="form-input">
                    <label for="file-ip-1">
                        <img id="file-ip-1-preview" src="https://i.ibb.co/ZVFsg37/default.png">
                    </label>
                    {{!-- <input type="file"  name="img_one" id="file-ip-1" accept="image/*" onchange="showPreviewOne(event);"> --}}
                </div>
            </form>
        </section>
        <a href="projectboards" class="userPage_button" id="clickable">Get Started</a>
    </div>
</div>
<script>
    function showPreviewOne(event){
      
        console.log("Passed if statement.")
        let src = URL.createObjectURL(event.value[0]);
        let preview = document.getElementById("file-ip-1-preview");
        preview.src = src;
        preview.style.display = "block";
    }
</script>
      


