<body class="body-contents">
    <div class="wrapper">
    <div class="header"> Edit User </div>
    <section class="history">
        <form action="/manageUsers/{{user.id}}/edit" method="POST">
    <div>
        <label>Change name : </label>
        <input name="name" value="{{user.name}}" />
    </div>
    <div>
        <label>Change Avatar : </label>
        <input name="image" value="{{user.image}}"/>
    </div>
    <button>Update</button>
</form>
    </div>
    </section>
    </div>
</body>

