<div class="contents">
    <div class="topNav">
        <a class ="navButton" href="/projectboards">Manage Projects</a>
        <div class="header"> Users</div>

    </div>
    <main id="app"></main>
    <div class="nav"></div>
    <section class="userCard">
        {{#each users}}
        <div class="userCardDetails">
            <div class="user-name">{{this.name}}</div>
            <div class="user-image" style="background-image: url({{this.image}});"></div>
        </div>
        {{/each}}
    </section>
    <section class="userCard">
        <div> New User</div>
        <form action='/addManageUsers' method="POST">
            <label> Name: </label>
            <input name="name" type="text" placeholder="Name" required> <br>
            <label> Select Avatar: </label>
            <select name="image">
                <option value="https://www.indiewire.com/wp-content/uploads/2019/12/avatar-2.jpg" selected>Avatar1</option>
                <option value="/image/avatar2.jpeg">Avatar2</option>
                <option value="/image/femail1.jpeg">Female1</option>
                <option value="/image/female2.jpg">Female2</option>
                <option value="/image/female3.jpg">Female3</option>
                <option value="/image/ghost1.png">Ghost</option>
                <option value="/image/male1.jpg">Male1</option>
                <option value="/image/male2.jpg">Male2</option>
                <option value="/image/male3.jpeg">Male3</option>
                <option value="/image/superman1.jpeg">Superman</option>
            </select>
            <button style= "submitButton" type="submit"> Add </button>
        </form>
    </section>
</div>
