<div class="body-contents">
    <div class="topNav">
        <a class ="navButton" href="/projectboards">Manage Projects</a>
    </div>
    <div class="wrapper">
    <div class="header">Users</div>
    <div class="contents">
    
        {{#each users}}
        <section class="userCard">
        <div class="userCardDetails">
            <div class="user-name">{{this.name}}</div>
            <div class="user-image" style="background-image: url({{this.image}});"></div>
        </div>
        </section>
        {{/each}}
    <section class="userCard">
        <div> New User</div>
        <form action='/addUser' method="POST">
            <label> Name</label>
            <input name="name" type="text" placeholder="Name" required> <br>
            <label> Image</label>
            <input name="image" type="url" placeholder="Avatar"> <br>
            <button style= "submitButton" type="submit"> Add </button>
        </form>
    </section>
</div>
</div>
</div>