
<div class="body-contents">
    <div class="topNav">
        <a class ="navButton" href="/manageUsers">Manage Users</a>
        <a class ="navButton" href="/taskHistory">Task History</a>
    </div>
    <div class="wrapper">
    <div class="header"> Project Boards</div>
    <div class= "contents">
        {{#each projectboards}}
        <a href="/projectBoard/{{this.id}}">
        <div class="projectBoardCard">
                <h2> {{this.name}} </h2>      
            </article>
            <div>
                {{#each tasks}}
                <div>
                    <div>{{this.name}}</div>
                </div>
                {{/each}}
            </div>
            </div>
            </a>
        {{/each}}

    <section class="projectBoardCard">
        <h3> New Project Board</h3>
        <form action='/projectboards' method="POST">
        <label> Name : </label>
        <input name="name" type="text" placeholder="Project Board Title" required> <br>
        </form>
    </section>
    </div>
</div>
</div>



