
<div class="body-contents">
    <div class="topNav">
        <a class ="navButton" href="/projectboards">Manage Projects</a>
    </div>
    <div class="projectBoard">
        <div class="header">{{projectBoard.name}}</div>
        <div class= "projectContents">
            {{#each lists}}
            <div class ="listCard">
                <div class="header">{{this.name}}</div>
                <div class="taskContainer" id="container">
                    {{#each this.tasks}}
                        <div class="taskCard">
                            <div class="taskHeader"></div>
                        </div>
                        {{!-- {{#if (this.tasks.name == "To Do")}}
                        <div class="taskCard">
                            <form action="/addTask" method="POST">

                            </form>
                        </div>
                        {{/if}} --}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<form action='/projectboards' method="POST">
    <label> Name : </label>
    <input name="name" type="text" placeholder="Project Board Title" required> <br>
    <label> Image : </label>
    <input name="image" type="url" placeholder="Project Board Title"> <br>
    <button type="submit"> Add </button>
</form>