<h1 class="header"> Project Boards</h1>
<section>
    {{#each projectboards}}
    <article class="image" style="background-image: url('{{this.image}}');">
        <h2> {{this.name}} </h2>      
    </article>
    {{/each}}
</section>
<section class="boardadd">
    <h3> New Project Board</h3>
    <form action='/projectboards' method="POST">
    <label> Name : </label>
    <input name="name" type="text" placeholder="Project Board Title" required> <br>
    <label> Image : </label>
    <input name="image" type="url" placeholder="Project Board Title"> <br>
    <button type="submit"> Add </button>
    </form>
</section>

