

<div class="contents">
    <div class="topNav">
        <a class ="navButton" href="/manageUsers">Manage Users</a>
        <div class="header"> Project Boards</div>
    </div>
    <div class= "contents">
    <section class="projectBoardCard">
        {{#each projectboards}}
        <article class="image" style="background-image: url('{{this.image}}');">
            <h2> {{this.name}} </h2>      
        </article>
        <div>
            {{#each lists}}
            <div>
                <div>{{this.description}}</div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </section>
    <section class="projectBoardCard">
        <h3> New Project Board</h3>
        <form action='/projectboards' method="POST">
        <label> Name : </label>
        <input name="name" type="text" placeholder="Project Board Title" required> <br>
        <label> Image : </label>
        <input name="image" type="url" placeholder="Project Board Title"> <br>
        <button type="submit"> Add </button>
        </form>
    </section>
    </div>
</div>



