* {
    padding: 0;
    margin: 0;
    height: 100%;
}
main{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
}
.addUserForm{
    left: 33%;
    border-style: groove;
    border-color: black;
    border-radius: 20px;
    position: relative;
    width: 35%;
    height: auto;
    top: 40%;
    background-color: rgb(236, 233, 233);

}
.manageUser{
    left: 41%;
    /* border-style: groove;
    border-color: #221fe5; */
    border-radius: 20px;
    position: relative;
    width: 20%;
    height: 35%;
    top: 70%;
    background-color: rgb(75, 132, 238);
    text-decoration-color: white;
}
.goToTasks{
    /* border-style: groove;
    border-color: #e51f71; */
    border-radius: 20px;
    left: 41%;
    position: relative;
    width: 20%;
    height: 35%;
    top: 10%;
    background-color: rgb(75, 132, 238);
    text-decoration-color: white;
}
p{
    text-align: center;
    height: 50%;
    
}
.userTextBox{
    width: 35%;
    height: 25%;
    place-self: center;
}
.addUserButton{
    width: 20%;
    height: 28%;
}
.TextandButton{
    height: 50%;
    text-align: center;
    position: relative;
}

