* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    overflow-x: hidden;
    text-decoration: none;
}

.body-contents {
    /* font-size: large;
    border: 2px;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; */
    min-height: 100vh;
    background-color: rgb(190, 213, 255);
}

.listHeader{
    font-size: 20px;
    padding: 5px;
}

.projectBoard {
    background-color: whitesmoke;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 20px;
}

.contents {
    font-size: large;
    border: 2px;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(190, 213, 255);
  }

.header {
    font-size: 30px;
    padding-left: 30px;

}
.projectBoardCard {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 30px;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 375px;
    transition: 0.5s;

}
.projectBoardCard:hover {
    padding: 30px;
    background-color: lightgray;
    border-radius: 30px;
    margin: 20px;
    opacity: 100%;
}

.listCard {
    padding: 20px;
    background-color: rgb(255, 255, 255) ;
    border-radius: 30px;
    margin: 30px;
    border: 4px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    transition: 0.5s;
}

.projectContents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userCard {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 30px;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    transition: 0.5s;
}

.userCard:hover {
    padding: 30px;
    background-color: lightgray;
    border-radius: 30px;
    margin: 20px;
    opacity: 100%;
}

.user-image {
    display: flex;
    justify-self: end;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 100%;
    border: solid white 1px;
}

.topNav {
    /* background-color: rgb(0, 0, 0,0.6); */
    overflow: hidden;
    display: flex;
    width: 4000px;
    padding: 10px;
    max-height: 92px;
    /* position: sticky;
    top: 0;
    z-index: 4; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navButton {
    float: left;
    text-align: middle;
    justify-self: flex-start;
    padding: 28px 32px;
    margin: 4px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.button{
    display:inline-block;
    padding:20px 80px;
    border-radius: 50px;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 50px;
    background-color: dodgerblue;
    outline:none;
    }


.button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.profilePicture{
    background-size: cover;
    border: groove black;
    height: 30%;
    width: 30%;
    margin: 30px;
}

.userPage{
    height: 95vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(190, 213, 255);

}

.userTitle{
    text-align: center;
    width: 27%;
    padding-bottom: 20px;
}
.userProfileInfo{
    width: 50%;
}
.userCreated{
    padding-bottom: 20px;
    padding-left: 30px;
}
.userUpdated{
    padding-bottom: 20px;
    padding-left: 30px;
}
.taskList{
    background-color: whitesmoke;
    border-radius: 30px;
    transition: 0.5s;
    padding: 30px;
    margin: 14px;
    width: 35%;
}

.taskcard {
    z-index: 6;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 10px;
}

.taskcard:hover {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.userTaskList{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.taskListHeader{
    width: 100%;
}
.userPage_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: rgb(230, 230, 230);
}
.userPage_container{
    height: 60%;
    text-align: -webkit-center;
    border-style: solid;
    padding: 70px;
    background-color: cornflowerblue;
}
.userPage_button{
    display: inline-block;
    padding: 20px 80px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    font-size: 50px;
    background-color: darkorange;
    outline: none;
}
/* body {
    display: flex;
    justify-content: center;
    background-color: rgba(239, 245, 243, 0.966);
    color: black
}
h1 {
    grid-area: header;
    position: relative;
    padding: 2rem 1rem;
    color: rgb(8, 8, 8);
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    font-size: 40px;
}


.boardadd {
    height: 25rem;
    width: 20rem;
    border: solid 1px black;
    background-color: rgba(240, 233, 233, 0.932);
    margin: auto;
    border-radius: 1rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position:relative; 
    text-align: center;
}
article.image {
    height: 25rem;
    width: 20rem;
    border: solid 1px white;
    margin: auto;
    border-radius: 1rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position:relative; 
    background-size: 100% 120%;
}

h2 {
    height: 4rem;
    width: 20rem;
    line-height: 5rem;
    margin: 0px;
    position: absolute;
    top: 0px;
    text-align: center;
    padding-top: 0px;
    color: black;
    background-color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    text-shadow : 1px 2px 3px gray;
}



@media screen and (min-width: 40em) {
   section {
    display: grid;   
    grid-template-columns: auto auto;
    grid-template-rows: none;
    padding: 1rem;
    gap: 1rem;
   }
   article {
       margin: 0;
   }
}

@media screen and (min-width: 60em) {
    section {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 80em) {
    section {
        grid-template-columns: auto auto auto auto;
    }
}
 */
